version: '3.8'

services:
  ldap:
    image: osixia/openldap:1.5.0
    container_name: ldap-auth
    environment:
      LDAP_ORGANISATION: "MiniAuth"
      LDAP_DOMAIN: "miniauth.local"
      LDAP_ADMIN_PASSWORD: admin
    ports:
      - "389:389"
    volumes:
      - ./ldap-data:/var/lib/ldap
      - ./ldap-config:/etc/ldap/slapd.d
